* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 30px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: white;
  background-color: #222;
}
main {
  margin-bottom: 5px;
}
main .product {
  border: 2px solid white;
  padding: 20px;
  width: 33%;
  float: left;
}
main .product .results div {
  color: white;
  padding: 7px;
}
main .product .results div:nth-child(1) {
  background-color: royalblue;
}
main .product .results div:nth-child(2) {
  background-color: dodgerblue;
}
main .product .results div:nth-child(3) {
  background-color: royalblue;
}
main .product .results span.name {
  display: inline-block;
  width: 75px;
}
main .product h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
main .product form button {
  width: 100px;
  line-height: 30px;
  letter-spacing: 1.6px;
  display: block;
  margin: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
  background-color: royalblue;
  border-color: dodgerblue;
  color: white;
  font-weight: bold;
}
main .product form button:active {
  outline: none;
}
main .product form button:focus {
  outline: 0;
}
main .product form select {
  width: 80px;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
}
main .product form select:active {
  outline: none;
}
main .product form select:focus {
  outline: 0;
}
main.description {
  font-size: 15px;
  min-height: 40px;
  line-height: 20px;
  margin: 10px 0;
}
@media (max-width: 1000px) {
  h1 {
    font-size: 17px;
  }
  body {
    font-size: 15px;
  }
  section.product form button {
    width: 90px;
    line-height: 25px;
    font-weight: normal;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 14px;
  }
  body {
    font-size: 13px;
  }
}
@media (max-width: 640px) {
  h1 {
    font-size: 17px;
  }
  body {
    font-size: 15px;
  }
  section.product {
    width: 100%;
  }
}
