@first-main-color: royalblue;
@second-main-color: dodgerblue; 
@font-color: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    padding: 30px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: @font-color;
    background-color: #222;
  }

  main {
    margin-bottom: 5px;
    display: flex;

    section.product {
      border: 2px solid @font-color;
      padding: 20px;
      width: 33%;

      article.results {
        div {
          color: @font-color;
          padding: 7px;
          margin-bottom: 10px;
          font-weight: bold;
          

          &:nth-child(1) {
            background-color: @first-main-color;
          }

          &:nth-child(2) {
            background-color: @second-main-color;
          }
        
          &:nth-child(3) {
            background-color: @first-main-color;
          }
        }
        span.name {
          display: inline-block;
          width: 72px;
          letter-spacing: 1px;
          font-size: 16px;
        }
      }

      h1 {
        font-size: 20px;
        margin-bottom: 10px;
        display: block;
      }

      form {
        button {
          width: 100px;
          line-height: 30px;
          letter-spacing: 1.6px;
          display: block;
          margin: 10px 0;
          text-transform: uppercase;
          cursor: pointer;
          background-color: @first-main-color;
          border-color: @second-main-color;
          color: @font-color;
          font-weight: bold;

          &:active {
            outline: none;
            }
          &:focus {
            outline: 0;
          }
        }

        select {
          width: 80px;
          height: 20px;
          line-height: 20px;
          margin-right: 5px;

          &:active {
            outline: none;
            }
          &:focus {
            outline: 0;
          }
        }
      }
    }

    header.description {
      font-size: 15px;
      min-height: 40px;
      line-height: 20px;
      margin: 10px 0;
    }
  }


  @media (max-width: 1000px) {
    h1 {
      font-size: 17px;
    }
  
    body {
      font-size: 15px;
    }

    section.product form button {
      width: 90px;
      line-height: 25px;
      font-weight: normal;
    }
  }

  @media (max-width: 850px) {
    h1 {
      height: 55px;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 14px;
    }

    body {
      font-size: 13px;
    }

    main {
      flex-direction: column;
    }
    main section.product {
      width: 100%;
    }
  }

  @media (max-width: 640px) {
    body {
      font-size: 15px;
    }

    section.product {
      width: 100%;
    }
  }
